// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
}

.button {
  padding: 5px 10px;
  background: #4AAD52;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #000022;
  }
}


